body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header .highlight, header .current a {
    color: #e8491d;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

button, input[type='submit'], input[type='reset']{
    background: #e8491d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover, input[type='submit']:hover, input[type='reset']:hover {
    background-color: #e8451d;
}

.card{
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.error{
    color: red;
    font-weight: bold;
}

.success{
    color: green;
    font-weight: bold;
}
